<div class="container-fluid">
    <div class="row critTopGrad">  <!-- Top picture -->
        <div class="col-sm-9 critImage">

        </div>
        <div class="col-sm-3">
            <h1 class="critWhiteAndShadow critCenter">Past</h1>
            <h1 class="critWhiteAndShadow critCenter">Places</h1>
            <br />
            <button class="btn btn-default center-block" type="submit">The Past!</button>
        </div>
    </div>
    <div class="row critTopGrad">  <!-- 3 assets -->
        <div class="col-sm-4">
            <div>
                <img src="../img/chef1.svg" alt="Logo" class="carLogo center-block">
            </div>
            <div class="form-group critCenter">
                 <label for="place">Place</label>
                 <input type="text" class="form-control" id="place" placeholder="What are you in the mood for?">
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="../img/dollar1.svg" alt="Logo" class="carLogo center-block">
            </div>
            <div class="form-group critCenter">
               <label for="cost">Price</label>
               <input type="text" class="form-control" id="cost" placeholder="Price you are willing to pay?">
             </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="../img/car1.svg" alt="Logo" class="carLogo center-block">
            </div>
            <div class="form-group critCenter">
               <label for="distance">Distance</label>
               <input type="text" class="form-control" id="distance" placeholder="How far are YOU willing to go?">
             </div>
        </div>
    </div>
    <div class="row"> <!-- Button -->
        <div class="col-sm-12">
            <button class="btn btn-default center-block" type="submit">Find Food!</button>
        </div>
    </div>
</div>
