<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.email %>!</h1>
    <p>
      To ACCEPT this choice CLICK HERE: <%= @url %>.
    </p>
    <p>
      To REJECT this choice CLICK HERE: <%= @url %>.
    </p>
  </body>
</html>
