* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.testRed {
  background-color: red;
  height: 100vh;
}

.liCenter {
  text-align: center;
}

.liFont {
  font-size: 100px;
}

.liGrad {
  background: linear-gradient(rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75));
}

.liImage {
  background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url("../img/pizza.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.liLogo {
  height: 100px;
  width: 100px;
}

.liWhiteAndShadow {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.simple_form .hint {
  display: block;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.suCenter {
  text-align: center;
}

.suFont {
  font-size: 100px;
}

.suGrad {
  background: linear-gradient(rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75));
}

.suImage {
  background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url("../img/cook.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.suLogo {
  height: 100px;
  width: 100px;
}

.suLogo1 {
  height: 500px;
  width: 500px;
  margin-top: -170px;
  margin-bottom: -100px;
}

.suWhiteAndShadow {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.critTopGrad {
  background: linear-gradient(rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75));
}

.critBottomGrad {
  background: linear-gradient(rgba(138, 119, 38, 0.75), rgba(202, 223, 147, 0.75), white);
}

.critImage {
  background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url("../img/counter2.jpg");
  height: 326px;
  background-repeat: no-repeat;
  background-size: cover;
}

.critWhiteAndShadow {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.critCenter {
  text-align: center;
}

.carLogo {
  height: 200px;
  width: 200px;
}

.critMargin {
  margin-top: 20px;
}

.decImage {
  background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url("../img/fries.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.decWhiteAndShadow {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.decCenter {
  text-align: center;
}

.decFont {
  font-size: 100px;
}

.decLogo {
  height: 100px;
  width: 100px;
}
