// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

// <-- Test Styles -->

.testRed {
    background-color: red;
    height: 100vh;
}

// <-- End Test Styles -->

// <-- Log In Styles -->

.liCenter {
    text-align: center;
}

.liFont {
    font-size: 100px;
}

.liGrad {
    background: linear-gradient(rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75));
}

.liImage {
    background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url('../img/pizza.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.liLogo {
    height: 40px;
    width: 40px;
}

.liWhiteAndShadow {
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

// <-- End Log In Styles -->

// <-- Sign Up Styles -->
.simple_form .hint {
    display: block;
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.suCenter {
    text-align: center;
}

.suFont {
    font-size: 100px;
}

.suGrad {
    background: linear-gradient(rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75));
}

.suImage {
    background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url('../img/cook.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.suLogo {
    height: 40px;
    width: 40px;
}

.suWhiteAndShadow {
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

// <-- End Sign Up Styles -->

// <-- Criteria Styles -->

.critTopGrad {
    background: linear-gradient(rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75));
}

.critBottomGrad {
    background: linear-gradient(rgba(138, 119, 38, 0.75), rgba(202, 223, 147, 0.75), rgba(255, 255, 255, 1));
}

.critImage {
    background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url('../img/counter2.jpg');
    height: 326px;
    background-repeat: no-repeat;
    background-size: cover;
}

.critWhiteAndShadow {
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.critCenter {
    text-align: center;
}

.carLogo {
    height: 200px;
    width: 200px;
}

.critMargin {
    margin-top: 20px
}

// <-- End Criteria Styles -->
