* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.acceptMain {
  color: #9BCC5E;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 200px;
}

.acceptBottom {
  color: #9BCC5E;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 64px;
}

.rejectMain {
  color: #D9534F;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 200px;
}

.rejectBottom {
  color: #D9534F;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 64px;
}

.fontColorShadowSide {
  color: #279AF1;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.fontColorShadowSideCrit {
  color: #279AF1;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.fontColorShadowMain {
  color: #9BCC5E;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.buttonColor {
  background-color: #9BCC5E;
  color: #FFFFFF;
}

.fontColorShadowCrit {
  color: #FFFFFF;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.fontCenter {
  text-align: center;
}

.font100 {
  font-size: 100px;
}

.grad {
  background: linear-gradient(#f7f7ff, white);
}

.imageLi {
  background-image: linear-gradient(rgba(247, 247, 255, 0.4), rgba(255, 255, 255, 0.4)), url("/img/pizza.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageSu {
  background-image: linear-gradient(rgba(247, 247, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/img/cook.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageReject {
  background-image: linear-gradient(rgba(247, 247, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/img/decision.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageDone {
  background-image: linear-gradient(rgba(247, 247, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/img/done.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageAccept {
  background-image: linear-gradient(rgba(247, 247, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/img/fries.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageDecision {
  background-image: linear-gradient(rgba(247, 247, 255, 0.7), rgba(255, 255, 255, 0.7)), url("/img/fooddecision.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageThanks {
  background-image: linear-gradient(rgba(247, 247, 255, 0.7), rgba(255, 255, 255, 0.7)), url("/img/thanks.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.simple_form .hint {
  display: block;
  color: #279AF1;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.topBar {
  background-color: #9BCC5E;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}

.fontHead {
  font-size: 64px;
  margin-top: 0px;
}

.loMargin {
  margin-top: 15px;
}

.liCenter {
  text-align: center;
}

.liFont {
  font-size: 100px;
}

.liGrad {
  background: linear-gradient(rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75));
}

.liImage {
  background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url("/img/pizza.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.liLogo {
  height: 100px;
  width: 100px;
}

.liWhiteAndShadow {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.suCenter {
  text-align: center;
}

.suFont {
  font-size: 100px;
}

.suGrad {
  background: linear-gradient(rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75));
}

.suImage {
  background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url("/img/cook.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.suLogo {
  height: 100px;
  width: 100px;
}

.suLogo1 {
  height: 600px;
  width: 600px;
  margin-top: -190px;
  margin-bottom: -100px;
  margin-left: 20px;
}

.suWhiteAndShadow {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.critTopGrad {
  background: linear-gradient(rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75));
}

.critFriendsGrad {
  background: linear-gradient(rgba(138, 119, 38, 0.75), rgba(202, 223, 147, 0.75), rgba(138, 119, 38, 0.75), rgba(138, 119, 38, 0.75));
}

.critBottomGrad {
  background: linear-gradient(rgba(138, 119, 38, 0.75), rgba(202, 223, 147, 0.75), white);
}

.critImage {
  background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url("/img/counter2.jpg");
  height: 65px;
  background-repeat: no-repeat;
  background-size: cover;
}

.critWhiteAndShadow {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.critCenter {
  text-align: center;
}

.carLogo {
  height: 200px;
  width: 200px;
}

.emailPad {
  padding-top: 10px;
}

.desciImage {
  background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url("/img/decision.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.decImage {
  background-image: linear-gradient(rgba(202, 223, 147, 0.5), rgba(138, 119, 38, 0.5)), url("/img/fries.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.decWhiteAndShadow {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.decCenter {
  text-align: center;
}

.decFont {
  font-size: 100px;
}

.decLogo {
  height: 100px;
  width: 100px;
}

.chefLogo {
  height: 100px;
  width: 100px;
}
