<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Restaurant Randomizer Invite</title>
        <style type="text/css">
            /*body {
                background: rgba(202, 223, 147, 0.75);
            }*/

        </style>
    </head>
    <body bgcolor="#F7F7FF">
        <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
            <tr>
                <td bgcolor="#CFCBCA" align="center" style="font-family: 'helvetica'; color:#FFFFFF; font-size: 48px;">
                    Restaurant Randomizer
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                    <table border="1" cellpadding="0" cellspacing="0" width="100%">
                         <tr>
                           <td bgcolor="#CFCBCA" align="center" style="font-family: 'helvetica'; color:#279AF1; font-size: 34px;">
                                Your Random Restaurant Is...
                           </td>
                        </tr>
                        <tr>
                           <td>
                               <table border="1" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td bgcolor="#F7F7FF" width="260" valign="top" style="font-family: 'helvetica'; color:#279AF1; font-size: 18px;">
                                          Yelp restaurant name here
                                        </td>
                                        <td style="font-size: 0; line-height: 0;" width="20">
                                          &nbsp;
                                        </td>
                                        <td bgcolor="#F7F7FF" width="260" valign="top" style="font-family: 'helvetica'; color:#279AF1; font-size: 18px;">
                                          Yelp address here
                                        </td>
                                    </tr>
                                </table>
                           </td>
                        </tr>
                        <tr>
                           <td>
                               <table border="1" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td align="center" bgcolor="#5CB75C" width="260" valign="top" style="font-family: 'helvetica'; color:#FFFFFF; font-size: 18px;">
                                          Accept here
                                        </td>
                                        <td style="font-size: 0; line-height: 0;" width="20">
                                          &nbsp;
                                        </td>
                                        <td align="center" bgcolor="#D9534F" width="260" valign="top" style="font-family: 'helvetica'; color:#FFFFFF; font-size: 18px;">
                                          Reject here
                                        </td>
                                    </tr>
                                </table>
                           </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#CFCBCA">
                <td bgcolor="#CFCBCA" align="center" style="font-family: 'helvetica'; color:#279AF1; font-size: 34px;">
                    Time to make a decision about food!
                </td>
            </tr>
        </table>
    </body>
</html>
